@import '../../styles/variables.scss';

.header {
    padding-bottom: 16px;
}

.desktopHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.mobileHeader {
    display: flex;
    align-items: center;
}

@media(max-width: $desktop-breakpoint) {
    .desktopHeader {
        display: none;
    }
}

@media(min-width: $desktop-breakpoint) {
    .mobileHeader {
        display: none;
    }
}

// ------------------------

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    & a {
        text-decoration: none;
        padding: 8px;
    }
}