@import '../../styles/variables.scss';

.header {
    padding-bottom: 16px;
}

.desktopHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.mobileHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;

    & .headerTitle {
        display: flex;
        align-items: stretch;

        & .pageTitle {
            display: flex;
            align-items: center;
            background-color: $secondary-color;
            padding: 0px 8px;
        }
    }
}

.sideNavToggle {
    display: grid;
    place-items: center;
    border: none;
    cursor: pointer;
    background-color: transparent;
    outline: none;
}

// ----------------------

@media(max-width: $desktop-breakpoint) {
    .desktopHeader {
        display: none;
    }
}

@media(min-width: $desktop-breakpoint) {
    .mobileHeader {
        display: none;
    }
}

// ------------------------

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    & a {
        text-decoration: none;
        padding: 4px 8px;
        margin: 4px 0px;

        &.active {
            background-color: $secondary-color;
        }
    }
}