@import '../../styles/variables.scss';

.container {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: $background-color;
    
    padding: 24px 0px;

    & main {
        height: 100%;
        overflow-y: auto;
    }
}

.main {
    padding: 0px 64px;
}

// ----------------

@media(max-width: $desktop-breakpoint){
    .main {
        padding: 0px;
    }
}