@import '../../styles/variables.scss';

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: $background-color;

    & main {
        height: 100%;
        overflow-y: auto;
    }
}