.artImage {
    object-fit: cover;
    object-position: center 25%;
    border-radius: 0.2rem;
    transition: all 0.3s;

    &:hover {
        transform: scale(1.2625);
        border-radius: 0;
        transition: all 0.3s;
    }
}

.videoWrapper {
    height: 100%; 
    width: 100%;
    overflow: hidden;
}
