@import '../../styles/variables.scss';

.root {
    position: relative;
}
  
.root {
    & .artImage {
        object-fit: cover;
        object-position: center 25%;
        border-radius: 0.2rem;
        transition: all 0.3s;

        &:hover{
            transform: scale(1.2625);
            border-radius: 0;
            transition: all 0.3s;
        }
    }
}
  
.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    background-color: $background-color;
    padding: 0.8rem;
    padding: 1.14vw;

    & span {
        font-size: 1.4vw;
    }
}

@media(max-width: $desktop-breakpoint){
    .header {
        padding: 1.5vw;
    
        & span {
            font-size: 1.8vw;
        }
    }
}

@media(max-width: $phone-breakpoint){
    .header {
        padding: 2vw;
    
        & span {
            font-size: 2.6vw;
        }
    }
}