@import '../../styles/variables.scss';

.root {
    z-index: 1;
    position: relative;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    padding: 1rem $lateral-padding 1rem 0;

    & .header {
        & .title {
            display: flex;
            align-items: center;
            gap: 1.5rem;
            background-color: $background-color;
            padding-left: 0.5rem;
            margin-bottom: 1rem;

            & a {
                display: grid;
                place-items: center;
            }
        }
    }

    & .contentsContainer {
        position: relative;

        & .slide {
            cursor: pointer;
        }

        & .crossLine {
            z-index: -1;
            height: 72px;
            width: 100%;
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            background-image: linear-gradient(to right, $seconday-color, $background-color 60%);
            border-top: 10px solid $seconday-color;
            margin-top: -72px;
        }
    }
}