
.videoWrapper {
    width: 100%;
    height: 34rem;
    overflow: hidden;
}

.videoContent {
    object-fit: cover;
    object-position: center 25%;
    cursor: pointer;

    transition: all 0.3s;

    &:hover {
        transform: scale(1.2625);
        
        transition: all 0.3s;
    }
}
