@import '../../styles/variables.scss';

$nav-width: 16rem;

.nav {
    z-index: 1;
    position: fixed;
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    overflow-x: hidden;

    background-color: rgba(0, 0, 0, 0.75);
    
    transition: all 0.3s;

    &.opened {
        width: $nav-width;
    }

    & a {
        color: $text-color;
        text-decoration: none;
    }

    & .navItems {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem;
    
        & a {
            margin-bottom: 0.5rem;
            transition: all 0.3s;
    
            &:hover, &.active {
                text-decoration: none;
                transition: all 0.3s;
            }
        }
    }    
}